PORT=3000
HOST=0.0.0.0
MONGODB_URI=mongodb://127.0.0.1:27017
MONGODB_DATABASE=country-finder
MONGODB_COUNTRIES_COLLECTION=countries
COUNTRIES_GEOJSON_URL=https://raw.githubusercontent.com/datasets/geo-countries/master/data/countries.geojson
